  .item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--color-border);
    transition: background-color 0.2s;
  }
  
  .item:hover {
    background-color: var(--color-surface);
  }
  
  .checkButton {
    margin-right: 10px;
  }
  
  .textContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  .checked {
    color: var(--color-secondary);
  }
  
  .title {
    font-family: 'Arial', sans-serif;
    font-size: 1.5rem; 
    font-weight: bold;
    margin-bottom: 1rem;
    color: #f0e7e7;
    text-decoration: none;
    transition: text-decoration 0.2s;
  }
  
  .title:hover {
    text-decoration: underline;
  }
  
  .description {
    font-size: 0.9rem;
    color: var(--color-muted);
  }
  
  .itemContainer {
    display: flex;
    flex-direction: column; /* Align items in a column */
    justify-content: flex-start; /* Stretch items horizontally */
    width: 100%; /* Ensure the container takes full width */
    gap: 1rem; /* Add space between items */
  }
  
  /* For the outermost list container, with a top margin */
  .listContainer {
    margin-top: 3rem;
  }
  