.title {
    font-family: 'Arial', sans-serif;
    font-size: 1.5rem; 
    font-weight: bold;
    margin-bottom: 1rem;
    color: #f0e7e7; 
  }

  .itemContainer {
    display: flex;
    flex-direction: column; /* Align items in a column */
    justify-content: flex-start; /* Stretch items horizontally */
    width: 100%; /* Ensure the container takes full width */
    gap: 1rem; /* Add space between items */
  }

  /* For the outermost list container, with a top margin */
.listContainer {
    margin-top: 3rem;
  }